/* general */
/* navbar */
/* sidebar */
/* footer */
/* page: index */
/* page: hire-me */
/* page: projects */
/* page: demos */
/* addon.css */

/* general */
	@font-face {
		/* http://fonts.googleapis.com/css?family=Source+Sans+Pro */
		font-family: 'Source Sans Pro';
		font-style: normal;
		font-weight: 400;
		src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
	}
	body {
		background-image: url("../img/bg-body.jpg");
	  	background-repeat: repeat;
		font-size: 16px;
		font-family: "Source Sans Pro", 微軟正黑體;
	}
	b {
		font-size: 18px;
	}
	h3 {
		font-size: 25.5px;
	}
	dd {
		margin-bottom: 10px;
	}
	#body-container {
		margin: 0 auto;
	  	width: 918px;
	  	margin-top: 100px;
	}

	#content {
		padding-top: 10px;
		padding-bottom: 25px;
		width: 918px;
		background-color: white;
		box-shadow: 2px 2px #A57777;
		-moz-box-shadow: 0 0 10px #A57777;
		-webkit-box-shadow: 0 0 10px #A57777;
	}
	.container {
		margin: 0 auto;
		padding-bottom: 10px;
		width: 95%;
	}
	.sub-text {
		color: gray;
		font-size: 13px;
	}

/* navbar */
	#navbar {
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0px;
		z-index: 501;
		border-bottom: white 5px solid;
		background-image: url("../img/bg-top.jpg");
		box-shadow: 2px 2px #A57777;
		-moz-box-shadow: 0 0 10px #A57777;
		-webkit-box-shadow: 0 0 10px #A57777;
	}
	#navbar-container {
		margin: 0 auto;
		width: 918px;
	}
	#navbar-brand {
		float: left;
		color: white;
		margin-top: 5px;
		margin-left: 10px;
	}
	#navbar-brand a {
		color: white;
	}
	#navbar-inner {
		float: right;
		margin-top: 25px;
	}
	#navbar-inner > a {
		margin-right: 25px;
		margin-left: 25px;
		color: white;
		font-size: 15px;
	}
	#navbar-inner .selected {
		color: orange;
		font-size: 18px;
		font-weight: bold;
		text-decoration: underline;
	}

/* sidebar */
	#sidebar-andro-name {	
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 18px;
		font-family: "Source Sans Pro", 微軟正黑體;
	}
	#sidebar-andro-name span {
		font-family: "Source Sans Pro", 微軟正黑體;
	}
	#sidebar-andro-img img {
		width: 200px;
	}
	.sidebar-social-info {
		height: 17px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	.sidebar-social-info a {
		margin-right: 3px;
		margin-left: 3px;
		text-decoration: none;
	}
	#sidebar-icon-gmail img {
		top: -77px;
		position: relative;
	}
	#sidebar-icon-fb img {
		top: -26px;
		position: relative;
	}
	#sidebar-icon-gplus img {
		top: -103px;
		position: relative;
	}
	#sidebar-icon-linkedin img {
		top: -129px;
		position: relative;
	}
	#sidebar-icon-github img {
		top: -51px;
		position: relative;
	}
	#sidebar-icon-blogger img {
		top: 0;
		position: relative;
	}
	#sidebar-icon-wordpress img {
		top: -182px;
		position: relative;
	}
	#sidebar-icon-portfolio img {
		top: -155px;
		position: relative;
	}

/* footer */
	#footer-container {
		margin: 0 auto;
		width: 918px;
		margin-top: 10px;
		margin-bottom: 80px;
	}
	#footer-inner {
		float: right;
		margin-right: 5px;
	}

/* page: index */
	.index-li {
		margin-top: 10px;
	}
/* page: hire-me */
	#hireme-img {
		margin-top: 15px;
		margin-left: 35px;
	}
	#hireme-pdf {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}
	#hireme-pdf a {
		font-size: 20px;
	}
/* page: projects */
	.project > li {
		margin-bottom: 20px;
	}
	.project-box {
		margin-top: 5px;
		width: 500px;
		margin-left: 50px;
		background-color: #F5F5F0;
	}
	.project-img {
		display:inline-block;
		zoom:1;
		*display:inline;
	}
	.project-img img {
		width: 150px;
	}
	.project-caption {
		float: right;
		width: 300px;
		margin-top: 15px;
		margin-right: 25px;
		font-size: 12px;
		color: gray;
		display:inline-block;
		zoom:1;
		*display:inline;
	}
	.project-readmore {
		margin-top: -10px;
		margin-left: 200px;
	}
/* page: demos */
	.demos {
		list-style-image: url("../img/icon_play.png");
	}

/* addon.css */
	@media (max-width: 480px) and (orientation: portrait) {
	        .panel {
	            /* height: 380px;*/ /*460-80*/
	            width: 320px;
	            
	        }
			/*        
	        .content {
		    	width: 270px;
		        padding: 25px;
		        border: 1px solid #f00;
	        }
	        */     
	        
	    .no_radius {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;    
		}   
	    
		.item_box {
		    background-color: white;
			border: 1px solid #EEE;
			line-height: 1.5em;
			padding: 15px;
			margin: 20px;
			float: left;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			width: 250px;
			box-shadow: 2px 1px 6px #EFEFEF -moz-box-shadow:2px 1px 6px #F2F4F3;
			-webkit-box-shadow: 2px 1px 6px #F2F4F3;
			margin-top: 10px;
			display: block;
		}
		
		.req_addr {
			color:#63b2d9;
		}

		.datetime {
			color:#63b2d9;
			font-family: Georgia;
		}

		.req_desc {
			color:#63b2d9;
			font-size: 13px;
			display: block;
			margin-bottom: 5px;
		}
	}