RewriteEngine on
RewriteCond $1 !^(index\.php|demo_|asset|css|img|js|wordpress|robots\.txt|favicon\.ico|$)
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

RedirectMatch 301 ^/hireme.php$ /hireme
RedirectMatch 301 ^/projects.php$ /projects
RedirectMatch 301 ^/demos.php$ /demos