.op_wrapper {
	width: 99%;
}
.op_content {
	clear: both;
	padding: 0 0 20px;
}
#picker{
	display: inline-block;
	margin: 25px 15px;
}
.hide {
	display: none;
}
.op_content label {
	font-size: 15px;
	font-weight: 100;
	width: 25%;
	display: block;
	float: left;
}
.radio_sec {
	width: 200px;
	float: left;
	font-size:15px;
	line-height: 2;
}
.op_input {
	padding: 30px 10px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}
.op_input small {
	display: block;
	float: right;
	width: 27%;
	color: #777;
	font-size: 15px;
}
.op_input input[type="text"], .op_input select {
	display: block;
	width: 40%;
	font-size: 15px;
	padding: 6px;
	margin: 0 15px;
	color: #444;
	line-height: 2em;
	background: #F8F8F8;
	height: 36px;
}
.op_wrapper input[type="submit"].reset {
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin: 15px 30px 15px 0;
	border-radius: 0;
	border-color: #FF2711;
	float: right;
}
.op_wrapper input[type="submit"].reset:hover {
	border-color: #EE2200;
	cursor: pointer;
}
form {
	margin-bottom: 0em;
}
.op_wrapper input[type="submit"].save {
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin: 15px 30px 15px 0;
	float: left;
	border-radius: 0;
	border-color: #DFDFDF;
}
.op_wrapper input[type="submit"].save:hover {
	border-color: #CCC;
	cursor: pointer;
}
.op_input input:focus, .op_input textarea:focus {
	background: #fff;
}
.op_input textarea {
	width: 40%;
	height: 125px;
	font-size: 15px;
	padding: 6px;
	color: #444;
	line-height: 1.5em;
	background: #F8F8F8;
	margin: 0 15px;
}
.op_input h3 {
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0;
	font-weight: bold;
	color: #232323;
	float: left;
	width: 80%;
	padding: 14px 4px;
}
.op_section {
	border-left: 1px solid #DDD;
	margin: 0 0 5px 0;
	border-right: 1px solid #DDD;
}
.op_line {
	text-align: center;
	padding: 18px 0;
	background: #EEE;
	font: bold 15px normal;
	border-top: none;
}
.section_title {
	height: 50px;
	background: #EDEDED url("flag.png") 15px 22px no-repeat;
	padding: 0px 0 20px 51px;
}
.section_title h3 {
	font-size: 27px;
	font-family: "微軟正黑體", sans-serif;
	color: #474747;
	float: left;
	display: block;
	margin: 28px 0 0 0;
}
.clear {
	clear: both;
}
.title_save {
	float: right;
}
.upload_preview {
	float: left;
	width: 25%;
	font-size: 15px;
	color: #777;
	padding: 15px 0;
}
.up_img {
	margin: 0 15px;
}
.reset {
	color: #FF0909 !important;
	border: 1px solid #FF0909 !important;
}
a {
	cursor: pointer;
}
